.logContainer{
    background-color: rgb(190, 190, 190);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    margin: 20px;
    font-size: 24px;
}
.RegWrapper{
    display: flex;
    width: 400px;
    height: 430px;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.inputf{
    margin: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.inputf button{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
}